<meta charset="UTF-8">
<title><%- self.title %></title>

<!-- Google Tag Manager ※案件毎に違うので都度入れる -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','NicoGoogleTagManagerDataLayer','GTM-KXT7G5G');</script>
<!-- End Google Tag Manager -->

<meta name="description" content="<%- self.description %>">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta property="og:locale" content="ja_JP">
<meta property="og:title" content="<%- self.title %>">
<meta property="og:description" content="<%- self.description %>">
<meta property="og:url" content="<%- self.pageUrl %>">
<meta property="og:site_name" content="<%- siteInfo.siteName %>">
<meta property="og:type" content="website">
<meta property="og:image" content="https://site.nicovideo.jp/music_rights/assets/img/ogp.png">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="<%- siteInfo.twitterSite %>">
<meta name="twitter:title" content="<%- self.title %>">
<meta name="twitter:description" content="<%- self.description %>">
<meta name="twitter:image:src" content="<%- siteInfo.siteUrl %>/assets/img/common/ogp.png">
<meta name="theme-color" content="<%- siteInfo.themaColor %>">
<link rel="canonical" href="<%- siteInfo.siteUrl %>">
<link rel="shortcut icon" href="<%- self.root %>assets/img/common/favicon.ico">
<link rel="apple-touch-icon-precomposed" href="<%- self.root %>assets/img/common/apple-touch-icon.png">

<!-- //枠ツクール -->
<script type="text/javascript" src="https://wktk.cdn.nimg.jp/wktkjs/3/wktk.min.js"></script>
<!-- //枠ツクール -->

<link rel="stylesheet" href="<%- self.root %>assets/css/style.css?<%- self.hash %>">